obj
bin
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.suo
*.cache
~$*
.svn
*.vshost*
nunit-result.xml
lib/NHProf/log.txt
TestDataBuilders.generated.cs
user-appSettings.config
user-connectionStrings.config